---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family:  "expo-serif-pro", serif;
$base-font-size:    18px;
$small-font-size:   $base-font-size * 0.875;
$base-line-height:  1.6;
$brand-font-family: "omnes-pro", Helvetica, Arial;
$brand-font-size:   5em;
$spacing-unit:      30px;

$title-font-family: "adelle", Helvetica, Arial;


$text-color:        #354B5E;
$background-color:  #DCDDD8;
$background-light:  lighten($background-color, 10%);
$background-dark:   #343642;
$brand-color:       #D74B4B;
                       
$foreground-color:  #D74B4B;
$faded-out-color:   #BEBFBB;
// Width of the content area
$content-width:     800px;
$on-palm:           600px;
$on-laptop:         800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.site-header {
    padding: 2em;
    box-sizing: border-box;
    
    nav {
        display: none;
    }
}

.site-title {
    font-family: $brand-font-family;
    font-size: 2.5em;
    color: $brand-color;
    font-weight: 200;
    line-height: 1.1em;
    vertical-align: bottom;
    border: 3px solid rgba(#444444, 0.2);
    letter-spacing: .05em;
    display: inline-block;
    padding: 0 .2em .2em .2em;
    
    &:hover {
        text-decoration: none;
        background: $brand-color;
        color: #ffffff;
        border-color: #fff;
    };
}

.site-footer {
    color: $faded-out-color;
    
    
    a {
        color: darken(#BEBFBB, 10%);
        text-decoration: none;
        
        path {
            fill: darken(#BEBFBB, 10%);
        }
    }
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0 2em;
        
        li {
            float: left;
            margin-right: 10px;
            font-size: 16px;
        }
    }
}

.home {
    
    .page-heading {
        display: none;
    }
    
    .post-list {
        list-style: none;
        padding: 2em;
        margin: 0;
        
        
        .post-meta {
            display: none;
        }
         
        li {
            position: relative;
            padding-bottom: 1em;
            
            h2 a {
                color: $foreground-color;
            }
        
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 50%;
                margin-left: -25%;
                height: 1px;
                background: rgba(#444444, 0.1);
            }
        }
        

        
    }
    
    .rss-subscribe {
        display: none;
    }
}

.post {
    padding: 2em;
    margin: 0;
    
    .post-title {
        font-size: 1.8em;
    }
    
    .post-meta {
        color: $faded-out-color;
    }
}

